/*==========================================
    breadcrump
==========================================*/
.hyip-breadcrump {
    background: url('../img/breadcrump.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2;
    &.extra_padding{
        .breadcrump-title{
            padding-bottom: 148px;
        }
    }
    &:after {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: $base-color;
        opacity: .65;
        z-index: -1;
    }
    .breadcrump-title {
    padding: 142px 0 145px;
        h2 {
            font-size: 45px;
            font-weight: 600;
            color: $white;
            &.add-space {
                margin-bottom: 22px;
            }
            &.faq-title{
                margin-top: -7px;
            }
        }
        span {
            display: inline-block;
            color: $white;
            font-size: 18px;
            i {
                margin: 0 6px 0;
            }
        }
    }
}